Tests: timedated, hostnamed, localed-locale, localed-x11-keymap
Depends: systemd,
  libpam-systemd,
  acl,
  locales,
Restrictions: needs-root, isolation-container

Tests: logind
Depends: systemd,
  libpam-systemd,
  acl,
  locales,
  evemu-tools,
Restrictions: needs-root, isolation-machine

Tests: unit-config
Depends: systemd,
  libpam-systemd,
  acl,
  locales,
  evemu-tools,
  python3,
Restrictions: needs-root, allow-stderr

Tests: storage
Depends: systemd,
  libpam-systemd,
  acl,
  locales,
  evemu-tools,
  python3,
  cryptsetup-bin,
Restrictions: needs-root, isolation-machine

Tests: networkd
Depends: systemd,
  libpam-systemd,
  acl,
  locales,
  evemu-tools,
  python3,
  cryptsetup-bin,
  systemd-sysv,
  dnsmasq-base
Restrictions: needs-root, isolation-container

Tests: build-login
Depends: systemd,
  libpam-systemd,
  acl,
  locales,
  evemu-tools,
  python3,
  cryptsetup-bin,
  systemd-sysv,
  dnsmasq-base,
  build-essential,
  pkg-config,
  libsystemd-dev,
Restrictions: isolation-container

Tests: boot-and-services
Depends: systemd-sysv,
  systemd-container,
  systemd-coredump,
  libpam-systemd,
  xserver-xorg-video-dummy,
  lightdm,
  cron,
  network-manager,
  busybox-static,
  apparmor,
  python3
Restrictions: needs-root, isolation-machine, needs-recommends, breaks-testbed

Tests: udev
Depends: tree,
  libudev-dev,
  perl,
  xz-utils,
Restrictions: needs-root, allow-stderr, isolation-machine

Tests: boot-smoke
Depends: systemd-sysv,
  network-manager,
  policykit-1,
  lightdm,
  tree,
  libudev-dev,
  perl,
  xz-utils,
Restrictions: needs-recommends, needs-root, isolation-machine, allow-stderr

# NOUPSTREAM: Do not run these tests for upstream builds

Tests: bootchart
Depends: systemd,
  libpam-systemd,
  acl,
  locales,
  evemu-tools,
  python3,
  cryptsetup-bin,
  systemd-sysv,
  dnsmasq-base,
  build-essential,
  pkg-config,
  libsystemd-dev,
Restrictions: needs-root, isolation-machine, breaks-testbed

Tests: cmdline-upstart-boot
Depends: systemd-sysv,
  network-manager,
  policykit-1,
  lightdm,
  cron,
  python3,
Restrictions: needs-root, isolation-machine, breaks-testbed

Tests: systemd-fsckd
Depends: systemd-sysv,
  python3,
  plymouth
Restrictions: needs-root, isolation-machine, needs-recommends, breaks-testbed
