Tests: timedated, hostnamed, localed-locale, localed-x11-keymap
Depends: systemd, libpam-systemd, acl, locales
Restrictions: needs-root, isolation-container

Tests: logind
Depends: systemd, libpam-systemd, acl, locales, evemu-tools
Restrictions: needs-root, isolation-machine

Tests: bootchart
Depends: systemd, libpam-systemd, acl, locales
Restrictions: needs-root, isolation-machine, breaks-testbed

Tests: unit-config
Depends: systemd, python3
Restrictions: needs-root, allow-stderr

Tests: networkd
Depends: systemd-sysv, python3, dnsmasq-base
Restrictions: needs-root, isolation-container

Tests: build-login
Depends: libsystemd-dev, build-essential, pkg-config
Restrictions: isolation-container

Tests: boot-and-services
Depends: systemd-sysv, systemd-container, xserver-xorg-video-dummy, lightdm, cron, network-manager, busybox-static, apparmor, python3
Restrictions: needs-root, isolation-machine, needs-recommends, breaks-testbed

Tests: ifupdown-hotplug
Depends: systemd-sysv, ifupdown
Restrictions: needs-root, isolation-machine

Tests: cmdline-upstart-boot
Depends: systemd-sysv, cron, network-manager, python3
Restrictions: needs-root, isolation-machine, breaks-testbed

Tests: boot-smoke
Depends: systemd-sysv, network-manager, policykit-1, lightdm
Restrictions: needs-recommends, needs-root, isolation-container, allow-stderr

Tests: systemd-fsckd
Depends: systemd-sysv, python3, plymouth
Restrictions: needs-root, isolation-machine, needs-recommends, breaks-testbed

Tests: user-session-cgroups
Depends: systemd-sysv
Restrictions: isolation-container
