[Unit]
Description=ifup for %I
After=local-fs.target network-pre.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
DefaultDependencies=no

[Service]
Type=oneshot
RuntimeDirectory=network
ExecStart=/sbin/ifup --allow=hotplug %I
ExecStartPost=/sbin/ifup --allow=auto %I
# only fail if ifupdown knows about the iface AND it's not up
ExecStartPost=/bin/sh -c 'if ifquery %I >/dev/null; then ifquery --state %I >/dev/null; fi'
ExecStop=/sbin/ifdown %I
RemainAfterExit=true
