Source: systemd
Section: admin
Priority: extra
Maintainer: Tollef Fog Heen <tfheen@debian.org>
Standards-Version: 3.8.4
Vcs-Git: git://git.err.no/systemd/
Vcs-Browser: http://git.err.no/cgi-bin/gitweb.cgi?p=systemd;a=summary
Homepage: http://www.freedesktop.org/wiki/Software/systemd
Build-Depends: debhelper (>= 7.0.50), libcap-dev, pkg-config, libudev-dev (>= 160), libdbus-1-dev, libdbus-glib-1-dev, libgee-dev, libgtk2.0-dev, valac, xsltproc, docbook-xsl, docbook-xml, m4

Package: systemd
Architecture: linux-any
Section: admin
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: system and session manager
 systemd is a replacement for sysvinit.  It is dependency-based and
 able to read the LSB init script headers in addition to parsing rcN.d
 links as hints.
 .
 It also provides process supervision using cgroups and the ability to
 not only depend on other init script being started, but also
 availability of a given mount point or dbus service.

Package: systemd-sysv
Architecture: linux-any
Section: admin
Priority: extra
Conflicts: sysvinit
Replaces: sysvinit
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: system and session manager - SysV links
 systemd is a replacement for sysvinit.  It is dependency-based and
 able to read the LSB init script headers in addition to parsing rcN.d
 links as hints.
 .
 It also provides process supervision using cgroups and the ability to
 not only depend on other init script being started, but also
 availability of a given mount point or dbus service.
 .
 This package provides the manual pages and links needed for systemd
 to replace sysvinit.
