Source: systemd
Section: admin
Priority: extra
Maintainer: Tollef Fog Heen <tfheen@debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7.0.50), libcap-dev, pkg-config, libudev-dev, libdbus-1-dev, libdbus-glib-1-dev, libgee-dev, libcgroup-dev (>= 0.36), libgtk2.0-dev, valac, xsltproc, docbook-xsl, docbook-xml, m4

Package: systemd
Architecture: linux-any
Section: admin
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: system and session manager
 systemd is a replacement for sysvinit.  It is dependency-based and
 able to read the LSB init script headers in addition to parsing rcN.d
 links as hints.
 .
 It also provides process supervision using cgroups and the ability to
 not only depend on other init script being started, but also
 availability of a given mount point or dbus service.
