[Unit]
Description=Various fixups to make systemd work better on Debian
Before=var-run.mount var-lock.mount
After=remount-rootfs.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/debian-fixup
Type=simple
RemainAfterExit=true
