[Unit]
Description=Various fixups to make systemd work better on Debian
Before=var-run.mount var-lock.mount
After=var.mount
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/debian-fixup
Type=simple
RemainAfterExit=true
