[Unit]
Description=Automatically Enable Systemd Units
ConditionPathExists=/var/lib/systemd/run-debian-enable-units
DefaultDependencies=no
Wants=local-fs.target
After=local-fs.target

[Service]
ExecStart=/lib/systemd/debian-enable-units
Type=oneshot
RemainAfterExit=true
