[Unit]
Description=ifup for %I
After=local-fs.target
BindTo=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/sbin/ifup --allow=hotplug %I
ExecStop=/sbin/ifdown %I
RemainAfterExit=true
