[Unit]
Description=Debian early rw mount
DefaultDependencies=no
ConditionPathIsDirectory=/lib/init/rw

[Mount]
What=tmpfs
Where=/lib/init/rw
Type=tmpfs
Options=mode=0755,nosuid
