#! /usr/bin/make -f

export CGROUP_LIBS=-lcgroup
export CGROUP_CFLAGS=-I/usr/include

export DEB_BUILD_OPTIONS="nostrip"

override_dh_auto_configure:
#	mkdir build
#	cd build &&
	dh_auto_configure -- --prefix=/ --mandir=/usr/share/man --sysconfdir=/etc --datarootdir=/lib --localstatedir=/var --libexecdir=/lib

override_dh_auto_build:
	dh_auto_build -- interfacedir=/usr/share/dbus-1/interfaces

override_dh_auto_install:
	dh_auto_install -- interfacedir=/usr/share/dbus-1/interfaces

#override_dh_install:
#	dh_install -O--parallel --fail-missing

#export DH_VERBOSE=1

%:
	dh --parallel $@
