[Unit]
Description=Ensure /etc/mtab is a symlink to /proc/mounts
Before=sysinit.target
After=systemd-remount-fs.service
DefaultDependencies=no
ConditionPathIsSymbolicLink=|!/etc/mtab

[Service]
ExecStart=/bin/ln -sf /proc/mounts /etc/mtab
Type=oneshot
RemainAfterExit=true
