[Unit]
Description=ifup for %I
After=local-fs.target network-pre.target networking.service apparmor.service
PartOf=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
ConditionPathIsDirectory=/run/network
DefaultDependencies=no
IgnoreOnIsolate=yes

[Service]
Type=oneshot
ExecStart=/sbin/ifup --allow=hotplug %I
ExecStartPost=/sbin/ifquery --state %I
ExecStop=/sbin/ifdown %I
RemainAfterExit=true
